/* 動画タイトル */

#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

/* フィルターボタンのレイアウト */

.video-filter-btn {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.video-filter-btn svg {
    width: 100%;
    height: 100%;
}

/* フィルターボタンのカラー */

.video-filter-btn {
    color: var(--yt-spec-icon-inactive);
}

ytd-section-list-renderer[type="video"] .video-filter-btn[type="video"] {
    color: var(--yt-spec-call-to-action);
}

ytd-section-list-renderer[type="live"] .video-filter-btn[type="live"] {
    color: var(--yt-spec-call-to-action);
}

/* 動画表示モード */

ytd-section-list-renderer[type="video"] ytd-grid-video-renderer[type="live"] {
    display: none !important;
}

ytd-section-list-renderer[type="video"] ytd-grid-video-renderer[type="reminder"] {
    display: none !important;
}

/* ライブ表示モード */

ytd-section-list-renderer[type="live"] ytd-grid-video-renderer[type="video"] {
    display: none !important;
}
