yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}

.chat-filter-btn, .chat-reload-btn {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.chat-filter-btn svg, .chat-reload-btn svg {
    height: 100%;
    width: 100%;
}

.chat-filter-btn, .chat-reload-btn {
    color: var(--yt-spec-icon-inactive);
}

yt-live-chat-renderer[type="member"] .chat-filter-btn {
    color: var(--yt-live-chat-sponsor-color);
}

yt-live-chat-renderer[type="hidden"] .chat-filter-btn {
    color: #D00000;
}

yt-live-chat-renderer[type="member"] yt-live-chat-text-message-renderer[author-type=""] {
    display: none;
}

yt-live-chat-renderer[type="hidden"] yt-live-chat-text-message-renderer {
    display: none;
}
