#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

.video-filter-btn {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.video-filter-btn svg {
    height: 100%;
    width: 100%;
}

.video-filter-btn {
    color: var(--yt-spec-icon-inactive);
}

.video-filter-enabled .video-filter-btn {
    color: var(--yt-spec-call-to-action);
}

.video-filter-enabled > #continuations {
    display: none !important;
}

.video-filter-enabled ytd-grid-video-renderer[type="default"] {
    display: none !important;
}

.video-float-frame {
    position: fixed !important;
    z-index: 1000 !important;
}

.video-zoom-out {
    transform: scale(0.6);
    transform-origin: top right;
}
