#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

.live-filter-btn {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.live-filter-btn svg {
    height: 100%;
    width: 100%;
}

.live-filter-btn {
    color: var(--yt-spec-icon-inactive);
}

ytd-section-list-renderer[type="live"] .live-filter-btn {
    color: var(--yt-spec-call-to-action);
}

ytd-section-list-renderer[type="live"] > #continuations {
    display: none !important;
}

ytd-section-list-renderer[type="live"] ytd-grid-video-renderer[type="video"] {
    display: none !important;
}

.video-float-frame {
    position: fixed !important;
    right: 24px !important;
    z-index: 1000 !important;
}

.video-zoom-out {
    transform: scale(0.6);
    transform-origin: top right;
}
