/* ブラウザフィット */

.browser-fit {
    position: fixed !important;
    left: 0;
    top: 0;
    transform-origin: left top;
    z-index: 3000 !important;
}

.browser-fit-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F9F9F9;
    z-index: 3000;
}
