/* 動画タイトル */

#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

/* フィルターボタン */

.video-filter-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.video-filter-btn svg {
    width: 100%;
    height: 100%;
}

/* フィルターボタンのカラー */

.video-filter-btn {
    color: var(--yt-spec-icon-inactive);
}

ytd-rich-grid-renderer[type="live"] .video-filter-btn[type="live"] {
    color: var(--yt-spec-call-to-action);
}

ytd-rich-grid-renderer[type="video"] .video-filter-btn[type="video"] {
    color: var(--yt-spec-call-to-action);
}

ytd-rich-grid-renderer[type="archive"] .video-filter-btn[type="archive"] {
    color: var(--yt-spec-call-to-action);
}

/* 配信表示モード */

ytd-rich-grid-renderer[type="live"] ytd-rich-item-renderer:not([type="live"]) {
    display: none !important;
}

/* 動画表示モード */

ytd-rich-grid-renderer[type="video"] ytd-rich-item-renderer:not([type="video"]) {
    display: none !important;
}

/* アーカイブ表示モード */

ytd-rich-grid-renderer[type="archive"] ytd-rich-item-renderer:not([type="archive"]) {
    display: none !important;
}
